# ---- OS / General ----
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
*.swp
*.swo
*.tmp
*.log

# ---- Visual Studio ----
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/

# VS profiler
*.psess
*.vsp
*.vspx
*.sap

# Others
*.dbmdl
*.bak
*.ldf
*.mdf

# ---- Visual Studio Code ----
.vscode/
.history/
*.code-workspace

# Local env
.env
.env.*.local
.env.local

# ---- Xcode ----
# Build artifacts
build/
DerivedData/
*.ipa
*.xcuserstate
*.xcworkspace/xcuserdata/

# User settings
xcuserdata/
*.xcuserdatad
*.xccheckout
*.moved-aside

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Archives
*.xcarchive

# ---- CMake / Make ----
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ---- Other IDEs ----
.idea/
*.iml

# ---- Package Managers ----
node_modules/
Pods/

# ---- Import Lybraries ----
Import/bin
Import/build
Import/cmake
Import/include
Import/lib
Import/licenses
Import/share
Import/*.natvis

# ---- CMAKE generation folder ----
vs2026
vs2022
ninja
xcode